In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\yanyuyao\Desktop\chenxi\subsection.csv',encoding= 'gbk')

df.head()

,券条码,销售额,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,x736001000315363413,68.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,x736001000315366021,68.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,x736001000316157712,68.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,x736001000317223809,68.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,x736001000318768114,68.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df = df[['券条码','销售额']]

In [4]:
df.head()

                   券条码    销售额
0  x736001000315363413  68.20
1  x736001000315366021  68.40
2  x736001000316157712  68.60
3  x736001000317223809  68.70
4  x736001000318768114  68.83

In [8]:
df_below88 = len(df[df['销售额']<88])

In [9]:
df_below88

115

In [12]:
df_below108 = len(df[(88<=df['销售额']) & (df['销售额']<108)])

In [13]:
df_below108

35

In [14]:
df_below128 = len(df[(108<=df['销售额']) & (df['销售额']<128)])

In [15]:
df_below128

26

In [16]:
df_below148 = len(df[(128<=df['销售额']) & (df['销售额']<148)])
df_below148

23

In [17]:
df_below168 = len(df[(148<=c) & (df['销售额']<168)])
df_below168

14

In [35]:
max(df['销售额'])

1116.8599999999999

In [74]:
subsection = []
for i in range(int(round(max(df['销售额'])/20)-3)):
    temp = len(df[((68+i*20)<=df['销售额']) & (df['销售额']<(68+(i+1)*20))])    
    subsection.append(temp)

In [75]:
salesTitles = []
for i in range(int(round(max(df['销售额'])/20)-3)):
    temp = str(68+i*20)+ '<= 销售额< ' + str(68+(i+1)*20)    
    salesTitles.append(temp)

In [76]:
df_sales = pd.DataFrame()

In [77]:
df_sales['销售额'] = salesTitles

In [78]:
df_sales['数量'] = subsection

In [79]:
df_sales

                 销售额   数量
0       68<= 销售额< 88  115
1      88<= 销售额< 108   35
2     108<= 销售额< 128   26
3     128<= 销售额< 148   23
4     148<= 销售额< 168   14
5     168<= 销售额< 188   20
6     188<= 销售额< 208   16
7     208<= 销售额< 228   15
8     228<= 销售额< 248    7
9     248<= 销售额< 268   14
10    268<= 销售额< 288    8
11    288<= 销售额< 308    7
12    308<= 销售额< 328    9
13    328<= 销售额< 348    4
14    348<= 销售额< 368    3
15    368<= 销售额< 388    6
16    388<= 销售额< 408    4
17    408<= 销售额< 428    2
18    428<= 销售额< 448    3
19    448<= 销售额< 468    4
20    468<= 销售额< 488    2
21    488<= 销售额< 508    2
22    508<= 销售额< 528    2
23    528<= 销售额< 548    4
24    548<= 销售额< 568    3
25    568<= 销售额< 588    1
26    588<= 销售额< 608    2
27    608<= 销售额< 628    2
28    628<= 销售额< 648    0
29    648<= 销售额< 668    1
30    668<= 销售额< 688    3
31    688<= 销售额< 708    1
32    708<= 销售额< 728    1
33    728<= 销售额< 748    0
34    748<= 销售额< 768    0
35    768<= 销售额< 788    0
36    788<= 销售额< 808    2
37    808<= 销售额< 828    0
38    828<= 销售额< 848    1
39    848<= 销售额< 868    0
40    868<= 销售额< 888    0
41    888<= 销售额< 908    0
42    908<= 销售额< 928    1
43    928<= 销售额< 948    1
44    948<= 销售额< 968    0
45    968<= 销售额< 988    0
46   988<= 销售额< 1008    0
47  1008<= 销售额< 1028    0
48  1028<= 销售额< 1048    0
49  1048<= 销售额< 1068    0
50  1068<= 销售额< 1088    0
51  1088<= 销售额< 1108    0
52  1108<= 销售额< 1128    1

In [ ]:
# 可以把它拿出来变成list再进行循环，失败的尝试

In [ ]:
subsection = []
for i in range(round(max(dfList))-1):

In [26]:
import numpy as np

dfList = df[['销售额']].values

In [41]:
dfList = [i[0] for i in dfList]

In [42]:
dfList

[68.200000000000003,
 68.400000000000006,
 68.599999999999994,
 68.700000000000003,
 68.829999999999998,
 68.969999999999999,
 69.019999999999996,
 69.019999999999996,
 69.090000000000003,
 69.120000000000005,
 69.200000000000003,
 69.239999999999995,
 69.299999999999997,
 69.310000000000002,
 69.349999999999994,
 69.450000000000003,
 69.579999999999998,
 69.670000000000002,
 69.700000000000003,
 69.799999999999997,
 69.799999999999997,
 69.840000000000003,
 69.859999999999999,
 69.879999999999995,
 69.900000000000006,
 70.099999999999994,
 70.170000000000002,
 70.180000000000007,
 70.299999999999997,
 70.319999999999993,
 70.340000000000003,
 70.430000000000007,
 70.560000000000002,
 70.560000000000002,
 70.719999999999999,
 71.030000000000001,
 71.200000000000003,
 71.200000000000003,
 71.469999999999999,
 71.579999999999998,
 71.700000000000003,
 72.040000000000006,
 72.069999999999993,
 72.150000000000006,
 72.370000000000005,
 72.459999999999994,
 72.489999999999995,
 72.5,
 72.530000000000001,
 72.560000000000002,
 72.620000000000005,
 72.650000000000006,
 72.799999999999997,
 72.980000000000004,
 73.780000000000001,
 74.099999999999994,
 74.180000000000007,
 74.239999999999995,
 74.450000000000003,
 74.5,
 74.769999999999996,
 74.849999999999994,
 75.299999999999997,
 75.359999999999999,
 75.359999999999999,
 75.370000000000005,
 75.379999999999995,
 75.400000000000006,
 75.75,
 75.930000000000007,
 76.019999999999996,
 76.030000000000001,
 76.230000000000004,
 76.359999999999999,
 76.629999999999995,
 76.75,
 77.0,
 77.090000000000003,
 77.090000000000003,
 77.359999999999999,
 77.670000000000002,
 77.810000000000002,
 77.969999999999999,
 78.0,
 78.120000000000005,
 78.269999999999996,
 78.849999999999994,
 79.0,
 79.260000000000005,
 79.519999999999996,
 79.689999999999998,
 79.799999999999997,
 79.799999999999997,
 79.870000000000005,
 80.180000000000007,
 80.219999999999999,
 80.730000000000004,
 81.019999999999996,
 81.390000000000001,
 81.5,
 81.930000000000007,
 82.049999999999997,
 82.799999999999997,
 82.829999999999998,
 83.700000000000003,
 84.170000000000002,
 84.239999999999995,
 84.299999999999997,
 84.329999999999998,
 84.909999999999997,
 85.290000000000006,
 86.140000000000001,
 86.5,
 86.650000000000006,
 87.349999999999994,
 88.689999999999998,
 89.299999999999997,
 90.730000000000004,
 91.079999999999998,
 91.150000000000006,
 91.409999999999997,
 91.590000000000003,
 91.849999999999994,
 92.099999999999994,
 92.579999999999998,
 92.920000000000002,
 93.5,
 95.25,
 95.510000000000005,
 95.540000000000006,
 96.200000000000003,
 96.75,
 98.469999999999999,
 100.16,
 100.64,
 101.23999999999999,
 101.34,
 101.40000000000001,
 101.5,
 101.84,
 102.26000000000001,
 102.29000000000001,
 103.58,
 104.5,
 105.0,
 106.52,
 106.77,
 107.51000000000001,
 107.59999999999999,
 107.92,
 108.08,
 108.25,
 108.39,
 108.5,
 108.90000000000001,
 109.09999999999999,
 109.26000000000001,
 109.95999999999999,
 111.97,
 112.87,
 113.51000000000001,
 114.7,
 115.55,
 115.73,
 116.77,
 117.02,
 117.16,
 117.20999999999999,
 120.8,
 122.45,
 124.02,
 124.48,
 124.55,
 126.2,
 127.02,
 127.77,
 128.30000000000001,
 129.09999999999999,
 129.37,
 129.84,
 129.84,
 130.77000000000001,
 130.91,
 132.80000000000001,
 133.41,
 133.80000000000001,
 133.81999999999999,
 136.69999999999999,
 137.28999999999999,
 137.38,
 137.5,
 137.50999999999999,
 140.25,
 140.86000000000001,
 143.49000000000001,
 143.84999999999999,
 144.02000000000001,
 145.34,
 146.63999999999999,
 153.80000000000001,
 154.44999999999999,
 154.84999999999999,
 154.86000000000001,
 155.55000000000001,
 155.71000000000001,
 156.75,
 157.25,
 158.37,
 159.34,
 159.44,
 161.19,
 164.38999999999999,
 166.34999999999999,
 168.97999999999999,
 169.03999999999999,
 169.87,
 170.05000000000001,
 170.63,
 171.00999999999999,
 172.0,
 172.09999999999999,
 173.33000000000001,
 174.80000000000001,
 175.03999999999999,
 176.90000000000001,
 177.55000000000001,
 179.0,
 179.91999999999999,
 180.59999999999999,
 182.0,
 184.94999999999999,
 185.66,
 186.47,
 192.62,
 193.40000000000001,
 193.59999999999999,
 194.03,
 194.19,
 197.78,
 198.09,
 200.69999999999999,
 200.94999999999999,
 201.44,
 202.28999999999999,
 202.34999999999999,
 204.16,
 204.59,
 205.71000000000001,
 207.02000000000001,
 209.09,
 210.0,
 211.05000000000001,
 211.25999999999999,
 212.34999999999999,
 213.02000000000001,
 213.08000000000001,
 217.52000000000001,
 217.96000000000001,
 220.11000000000001,
 221.61000000000001,
 224.86000000000001,
 225.13,
 225.77000000000001,
 227.41999999999999,
 234.63999999999999,
 236.0,
 236.61000000000001,
 236.86000000000001,
 242.25,
 245.31999999999999,
 246.37,
 248.88999999999999,
 249.28,
 249.5,
 252.5,
 252.87,
 253.27000000000001,
 253.61000000000001,
 254.5,
 254.81,
 256.24000000000001,
 259.5,
 259.79000000000002,
 260.20999999999998,
 260.64999999999998,
 269.31,
 269.76999999999998,
 270.66000000000003,
 271.86000000000001,
 274.67000000000002,
 274.99000000000001,
 278.81,
 285.31,
 291.55000000000001,
 294.82999999999998,
 295.56,
 297.61000000000001,
 304.32999999999998,
 305.44,
 305.88999999999999,
 308.17000000000002,
 311.43000000000001,
 313.99000000000001,
 314.18000000000001,
 315.76999999999998,
 315.89999999999998,
 318.01999999999998,
 319.39999999999998,
 320.38999999999999,
 332.26999999999998,
 333.43000000000001,
 338.22000000000003,
 341.31999999999999,
 357.0,
 360.75,
 363.11000000000001,
 369.19,
 371.92000000000002,
 372.81999999999999,
 376.75,
 377.41000000000003,
 384.45999999999998,
 391.38999999999999,
 395.16000000000003,
 403.41000000000003,
 405.83999999999997,
 417.69,
 418.27999999999997,
 432.57999999999998,
 433.93000000000001,
 441.72000000000003,
 452.25,
 452.37,
 456.75,
 464.08999999999997,
 473.39999999999998,
 476.51999999999998,
 501.01999999999998,
 506.36000000000001,
 515.90999999999997,
 525.58000000000004,
 534.70000000000005,
 535.13,
 536.08000000000004,
 547.22000000000003,
 559.39999999999998,
 563.58000000000004,
 567.67999999999995,
 569.14999999999998,
 603.33000000000004,
 606.28999999999996,
 614.75999999999999,
 616.73000000000002,
 663.37,
 672.63,
 678.0,
 678.0,
 693.91999999999996,
 714.22000000000003,
 788.42999999999995,
 790.38,
 836.03999999999996,
 912.73000000000002,
 935.0,
 1116.8599999999999]